:root {
  --wave-blue: #2b376e;
  --wave-teal: #2a7997;
  --dark-teal: #007297;
  --wave-green: #008281;
  --railway-gray: #5a5a5a;
  --highway-gray: #787878;
  --service-gray: #aaaaaa;
  --roadway-gray: #d9d9d9;
  --land-gray: #f0f0f0;
  --line-pink: #d6078e;
  --action-orange: #f38b00;
}

/* ==========================================================================
Fonts
   ========================================================================== */
@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-Bold.eot");
  src: url("fonts/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-Bold.woff2") format("woff2"),
    url("fonts/NunitoSans-Bold.woff") format("woff"),
    url("fonts/NunitoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-SemiBoldItalic.eot");
  src: url("fonts/NunitoSans-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NunitoSans-SemiBoldItalic.woff2") format("woff2"),
    url("fonts/NunitoSans-SemiBoldItalic.woff") format("woff"),
    url("fonts/NunitoSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-BlackItalic.eot");
  src: url("fonts/NunitoSans-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NunitoSans-BlackItalic.woff2") format("woff2"),
    url("fonts/NunitoSans-BlackItalic.woff") format("woff"),
    url("fonts/NunitoSans-BlackItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-ExtraBoldItalic.eot");
  src: url("fonts/NunitoSans-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NunitoSans-ExtraBoldItalic.woff2") format("woff2"),
    url("fonts/NunitoSans-ExtraBoldItalic.woff") format("woff"),
    url("fonts/NunitoSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-Black.eot");
  src: url("fonts/NunitoSans-Black.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-Black.woff2") format("woff2"),
    url("fonts/NunitoSans-Black.woff") format("woff"),
    url("fonts/NunitoSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-ExtraLight.eot");
  src: url("fonts/NunitoSans-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-ExtraLight.woff2") format("woff2"),
    url("fonts/NunitoSans-ExtraLight.woff") format("woff"),
    url("fonts/NunitoSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-ExtraLightItalic.eot");
  src: url("fonts/NunitoSans-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NunitoSans-ExtraLightItalic.woff2") format("woff2"),
    url("fonts/NunitoSans-ExtraLightItalic.woff") format("woff"),
    url("fonts/NunitoSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-Light.eot");
  src: url("fonts/NunitoSans-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-Light.woff2") format("woff2"),
    url("fonts/NunitoSans-Light.woff") format("woff"),
    url("fonts/NunitoSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-LightItalic.eot");
  src: url("fonts/NunitoSans-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NunitoSans-LightItalic.woff2") format("woff2"),
    url("fonts/NunitoSans-LightItalic.woff") format("woff"),
    url("fonts/NunitoSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-Regular.eot");
  src: url("fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("fonts/NunitoSans-Regular.woff") format("woff"),
    url("fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-SemiBold.eot");
  src: url("fonts/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-SemiBold.woff2") format("woff2"),
    url("fonts/NunitoSans-SemiBold.woff") format("woff"),
    url("fonts/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-Italic.eot");
  src: url("fonts/NunitoSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-Italic.woff2") format("woff2"),
    url("fonts/NunitoSans-Italic.woff") format("woff"),
    url("fonts/NunitoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-BlackItalic.eot");
  src: url("fonts/NunitoSans-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NunitoSans-BlackItalic.woff2") format("woff2"),
    url("fonts/NunitoSans-BlackItalic.woff") format("woff"),
    url("fonts/NunitoSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-ExtraBold.eot");
  src: url("fonts/NunitoSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-ExtraBold.woff2") format("woff2"),
    url("fonts/NunitoSans-ExtraBold.woff") format("woff"),
    url("fonts/NunitoSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-BoldItalic.eot");
  src: url("fonts/NunitoSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/NunitoSans-BoldItalic.woff2") format("woff2"),
    url("fonts/NunitoSans-BoldItalic.woff") format("woff"),
    url("fonts/NunitoSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Hind";
  src: url("fonts/Hind-SemiBold.eot");
  src: url("fonts/Hind-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Hind-SemiBold.woff2") format("woff2"),
    url("fonts/Hind-SemiBold.woff") format("woff"),
    url("fonts/Hind-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("fonts/Hind-Bold.eot");
  src: url("fonts/Hind-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Hind-Bold.woff2") format("woff2"),
    url("fonts/Hind-Bold.woff") format("woff"),
    url("fonts/Hind-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("fonts/Hind-Regular.eot");
  src: url("fonts/Hind-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Hind-Regular.woff2") format("woff2"),
    url("fonts/Hind-Regular.woff") format("woff"),
    url("fonts/Hind-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("fonts/Hind-Medium.eot");
  src: url("fonts/Hind-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Hind-Medium.woff2") format("woff2"),
    url("fonts/Hind-Medium.woff") format("woff"),
    url("fonts/Hind-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("fonts/Hind-Light.eot");
  src: url("fonts/Hind-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Hind-Light.woff2") format("woff2"),
    url("fonts/Hind-Light.woff") format("woff"),
    url("fonts/Hind-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Fonts */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Hind, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  /* font-family: Source Sans Pro, Helvetica Neue, Helvetica, Roboto, Arial,
  sans-serif; */
  font-size: 10px;
  scroll-padding-top: 3%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  font-size: 1.8rem;
}

.stlineblue {
  color: #007cad;
}

.stactionpink {
  color: #d6078e;
}

.stlinelightblue {
  color: #9ad6d3;
}

.stwaveteal {
  color: #2a7997;
}

.rustyred {
  color: #a83b24;
}

*,
:after,
:before {
  box-sizing: inherit;
}
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
} */

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  background-color: transparent;
}
b,
strong {
  font-weight: 700;
}
h1 {
  font-size: 2rem;
  margin: 0.67em 0;
}
img {
  border: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
/* button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
} */
button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}
input {
  line-height: normal;
}
.usa-button,
.usa-button-primary,
.usa-button-primary:visited,
.usa-button:visited,
[type="button"],
[type="image"],
[type="reset"],
[type="submit"],
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #0071bc;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  outline: none;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.1rem solid #5b616b;
  border-radius: 0;
  box-sizing: border-box;
  color: #212121;
  display: block;
  font-size: 1.8rem;
  height: 4.4rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  outline: none;
  padding: 1rem 0.7em;
  width: 100%;
}
label {
  display: block;
  margin-top: 3rem;
  max-width: 46rem;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url(img/arrow-down.png);
  background-image: url(img/arrow-down.svg);
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}
ol,
ul {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1.94em;
}

li {
  line-height: 1.5;
  margin-bottom: 0.5em;
}

li:last-child {
  margin-bottom: 0;
}

/* h1 + ol,
h1 + ul,
h2 + ol,
h2 + ul,
h3 + ol,
h3 + ul,
h4 + ol,
h4 + ul,
h5 + ol,
h5 + ul,
h6 + ol,
h6 + ul,
p + ol,
p + ul {
  margin-top: 0;
} */
.btn {
  font-size: inherit;
  padding: 0.5em 1em;
  font-weight: 700;
  border-width: 2px;
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  color: #0071bc;
  text-decoration: underline;
}
a:visited {
  color: #4c2c92;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: Merriweather, Georgia, Cambria, Times New Roman, Times, serif;
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.7rem;
  font-weight: 700;
}
form [type="submit"] {
  display: block;
  margin-bottom: 1.5em;
  margin-top: 2.5rem;
}

label {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Nunito Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 800;
  font-style: italic;
}
/* Layout */
.topbar {
  background-color: #d9d9d9;
}

.topbar span {
  color: #2b376e;
}
header#mainheader {
  width: 100%;
  background-color: #2b376e;
}
#footer {
  background-color: #2b376e;
  clear: both;
  margin-top: 20px;
  color: white;
  padding: 20px 0;
}
#footer a,
#footer a:hover {
  color: white;
}
#footer h1 {
  font-size: 2.8rem;
  margin-top: 7px;
}
#footer h2 {
  font-size: 2.4rem;
}

#footer .socialicon {
  width: 23px;
  height: auto;
  margin-right: 5px;
}

#footer a.sociallink,
#footer a.sociallink:hover {
  text-decoration: none;
}

/* Forms  */
form {
  /* border: 3px solid #2a7997; */
  padding-top: 20px;
  margin-bottom: 10px;
}
/* Buttons */
.usa-button,
.usa-button-primary,
.usa-button-primary:visited,
.usa-button:visited,
[type="button"],
[type="image"],
[type="reset"],
[type="submit"],
button,
.atc-style-blue .atcb-link,
.atc-style-blue .atcb-link:hover,
.atc-style-blue .atcb-link:active,
.atc-style-blue .atcb-link:focus {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.01);
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Hind, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  /* width: 100%;
    border: 2px solid white; */
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* ==========================================
   Author's custom styles
======================================== */

.copyright {
  margin-top: 1em;
}

p,
a,
li {
  word-wrap: break-word;
}

.topbar {
  padding: 10px 0;
}

.topbar span {
  padding-top: 10px;
  padding-left: 20px;
}

.topbar img {
  vertical-align: sub;
}

.topbar #google_translate_element {
  float: right;
  margin: 0 20px 0 0;
}

.topbar #google_translate_element select {
  width: 200px;
  padding: 0 15px !important;
}

.topbar .goog-te-gadget select.goog-te-combo {
  margin: 0 !important;
  padding: 0 15px !important;
  height: 3rem;
}
img {
  max-width: 100%;
}
.footerimg {
  width: 100%;
  margin-top: 50px;
  max-width: 270px;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}
header#mainheader {
  background-color: var(--wave-blue);
}

header#mainheader:after {
  content: " ";
  display: block;
  clear: both;
}

header#mainheader h1 {
  color: white;
  margin: 0.2em 0 0.3em 0;
  font-size: clamp(2.3rem, 1.5615rem, 3.6923vw, 4.1rem);
  line-height: 1;
}

/* ###### Legacy styles ####### */

/* .hero {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3em;
  padding: 10px 0;
} */

/* h1 {
  font-size: 4rem;
} */


form#feedbackForm {
  background-color: #eaeaea;
  border: 2px solid #d6148e;
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 10px;
  font-size: 4rem;
  font-weight: 900;
}

.emph {
  margin-top: 2px;
  border-top: 4px solid #2a7997;
}

button {
  margin-bottom: 20px;
}

.topban {
  padding: 0px 0px 0px 0px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #d6078e !important;
}

.outbox {
  background-color: #eaeaea;
}

.calbox {
  background-color: #f4f4f4;
  padding: 25px;
  margin: 0 0 20px 0;
  border-top: 4px solid #2a7997;
  border-left: 2px solid #ffffff;
  min-height: 280px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.leady {
  font-size: 2rem;
  color: #5a5a5a;
  font-weight: 500;
}

.lil {
  line-height: 2em;
}

.callout {
  border: 2px solid #2a7997;
  padding: 20px;
  margin-bottom: 20px;
}

.pinkcallout {
  background-color: #eaeaea;
  border: 2px solid #d6148e;
  padding: 10px;
  margin-bottom: 55px;
}

.pinksurvey {
  background-color: #eaeaea;
  border: 2px solid #d6148e;
}

.gb {
  color: #ffffff;
  background-color: #2a7997;
  padding: 10px 0px 10px 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.graybox {
  background-color: #fbfbfb;
}

.whitebox {
  background-color: #ffffff;
  padding: 10px 0px 10px 20px;
  margin: 10px 0 0 0;
}

h3 {
  font-size: 2.8rem;
  padding-bottom: 15px;
}

.entryhead {
  color: #ffffff;
  background-color: #2a7997;
  padding: 10px 0px 10px 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.entry-header {
  background-color: #2b376e;
  color: white;
  width: 100%;
  padding: 25px 0px 25px 0px;
  margin: 40px 0px 0px 0px;
}

.entry-header h2 {
  font-weight: 900;
  font-style: italic;

  margin: auto;
}
ul.no-style {
  list-style: none;
}
ul.no-gap li {
  margin-bottom: 0;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #ffffff;
  color: #2a7997;
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  text-align: left;
  border-bottom: dashed;
  border-bottom-width: thin;
  outline: none;
  margin-top: -10px;
  scroll-margin-top: 200px;
  font-size: 2.4rem;
  font-style: italic;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active,
.accordion:hover {
  background-color: rgb(255, 255, 255);
  color: #2a7897;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  /* padding: 0 18px; */
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 02.2s ease-out;
}
.accordion.active {
  border-bottom: none;
}

.accordion:after {
  content: "+";
  float: right;
  font-size: 2.8rem;
  margin-right: 20px;
  font-weight: 500;
  font-style: normal;
}

.accordion.active:after {
  font-size: 38px;
  content: "-";
}


.topdiv {
  background-color: #d9d9d9;
  z-index: 1;
}

.content {
  padding: 16px;
}

.z-99 {
  z-index: 99;
}

.stlogo {
  padding-left: 10px;
}

.navbar-toggler {
  background-color: #d9d9d9;
}

.btn.pbutton {
  color: #ffffff;
  background: var(--line-pink);
}
.btn.pbutton:hover {
  color: var(--line-pink);
  background: #fff;
  border: 2px solid var(--line-pink);
}
/* .blbutton {
  color: #ffffff !important;
  background: #d6078e !important;
  width: 100%;
  max-width: 190px;

  height: 101px;
  font-size: 1.2em !important;
  font-style: italic;
  font-weight: 900 !important;
  font-family: "Nunito Sans", Arial, sans-serif !important;
} */

.pbutton a {
  color: #ffffff !important;
  text-decoration: none;
  border-color: #ffffff;
}

.blbutton a {
  color: #ffffff !important;
  text-decoration: none;
}

.navbar-nav a {
  font-weight: 800;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #505050;
  font-size: 1.7rem;
  font-style: italic;
  margin: -5px 15px 0 3px;
}

.dropdown-menu {
  font-weight: 700;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #2d2d2d;
  font-size: 1.6rem;
  font-style: italic;
}

.ps {
  margin-top: -1em;
}

.thr {
  width: 100%;
  text-align: left;
  border-top: dashed;
  border-top-width: thin;
  outline: none;
  font-size: 2.4rem;
  font-style: italic;
  padding-top: 20px;
  margin-top: 20px;
}

h4 {
  font-size: 2.4rem;
  font-weight: 700;
  font-style: italic;
}

h5 {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

.pix {
  padding: 20px 20px 20px 0px;
}

.fl {
  margin-bottom: 0;
}

.s2 {
  font-size: 1.7rem;
}

.nm {
  margin-top: -2px;
}

.nm2 {
  margin-top: 0px;
  margin-left: 5px;
}

/* li {
  font-size: 1.15em;
  font-family: Hind, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
} */

/* p {
  padding-bottom: 15px;
} */
/* .container {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1100px;
} */

.bo {
  border: 0.5px solid #bababa;
}

.bboxHead {
  color: #ffffff;
  background-color: #2b376e;
  padding: 10px 0px 10px 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.borderbox {
  padding: 10px;
  border: 0.5px solid #bababa;
}

.bbox {
  color: #2b376e;
}

.buttonLinkbox {
  padding: 0 20px 0 0;
}

.borderbox2 {
  background-color: #2b376e;
  border: 0.5px solid #000000;
}

.alert-x {
  background-color: #f5a623;
}

a {
  color: #007bc1;
}

nav.top_nav {
  text-align: center;
  font-size: 0em;
  margin-bottom: 10px;
}

nav.top_nav li {
  display: inline;
}

nav.top_nav a {
  display: inline-block;
  position: relative;
}

nav.top_nav a:hover {
  color: #2a7997;
}

nav.top_nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: #2a7997;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

nav.top_nav a:hover:before,
nav.top_nav a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* 
.active {
  color: #2a7997;
} */
.nulx {
  text-decoration: underline;
}

#progressbar {
  vertical-align: top;
  width: 100%;
  height: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

progress::-webkit-progress-bar {
  background-color: transparent;
  width: 100%;
}

/* background: */
progress::-webkit-progress-bar {
  background-color: btransparent;
  width: 100%;
}

progress {
  background-color: btransparent;
}

/* value: */
progress::-webkit-progress-value {
  background-color: #2a7997 !important;
}

progress::-moz-progress-bar {
  background-color: #2a7997 !important;
}

progress {
  color: #2a7997;
}

.timelinepage {
  position: relative;
  left: 20px;
}

.timelinepage .timeline-wrapper {
  border-left: 4px solid #2a7997;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  padding: 0 17px;
  margin-bottom: 20px;
}

.timelinepage .timeline-wrapper h1 {
  font-weight: 100;
}

.timelinepage .timeline-wrapper p strong,
.timelinepage .timeline-wrapper p strong {
  font-weight: 400;
}

.timelinepage .timeline-wrapper p {
  margin-bottom: 4px;
}

.timelinepage .timeline-wrapper .tl {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
}

.timelinepage .timeline-wrapper .tl:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timelinepage .timeline-wrapper .tl:before,
.timelinepage .timeline-wrapper .tl:after {
  position: absolute;
  display: block;
  top: 0;
}

.timelinepage .timeline-wrapper .tl.now:after {
  box-shadow: 0 0 0 4px #2a7997;
  left: -23.85px;
  background: white;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 7px;
}

.timelinepage .timeline-wrapper .tl.dot:after {
  box-shadow: 0 0 0 4px #2a7997;
  left: -23.85px;
  background: #2a7997;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 7px;
}

.timelinepage .timeline-wrapper .tl:after {
  background: #2a7997;
}

.fa-star {
  color: #0299cc;
}

.timelinepage h3 {
  margin-top: 4px;
}

i.fa.fa-check {
  font-size: 2.3rem !important;
  color: #3dae2b;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figcaption {
  text-align: left;
  padding: 10px;
}

.accordion-list .thr:not(:first-of-type) {
  border-top: none;
}

.accordion-list .thr {
  margin: 0px;
}
.sticky-top {
  top: -1px;
}

blockquote {
  margin: 0 auto;
  padding: 1em;
  border-left: 5px solid var(--dark-teal);
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: 0.5em;
}
blockquote p {
  color:var(--railway-gray);
  font-size: inherit;
  line-height: 1.4;
}
blockquote footer {
  margin-top: 0.5em;
  padding: 0;
  color: var(--highway-gray);
  font-size: inherit;
  text-align: left;
  font-style: italic;
}
blockquote footer:before {
  content: "— ";
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid var(--dark-teal);
}
blockquote:nth-of-type(even) footer {
  text-align: right;
}
blockquote:nth-of-type(even) footer:before {
  content: "";
}
blockquote:nth-of-type(even) footer:after {
  content: " —";
}
blockquote:nth-of-type(even) {
  padding: 1em 1em 1em 20%;
}
.scroll-margin {
  scroll-margin-top: 40px;
}

.urgent-banner {
  background-color: var(--action-orange);
  padding: 2rem 0;
}
.urgent-banner a {
  color: inherit;
}
.urgent-banner:hover a {
  text-decoration: none;
}

.urgent-text {
  font-size: 2rem;
}

/* .urgent-text::after {
  content: " >>";
} */


/* --- Adds border radius to all the callout boxes ---  */
h3.gb {
  font-size: 2.4rem;
  padding-right: .5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.callout {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}









@media (max-width: 768px) {
  .footer-form {
    flex-direction: column;
  }
  #story-2 {
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  ul.dropdown-menu.show {
    top: 4.9rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media screen and (min-width: 481px) {
  .usa-button,
  .usa-button-primary,
  .usa-button-primary:visited,
  .usa-button:visited,
  [type="button"],
  [type="image"],
  [type="reset"],
  [type="submit"],
  button {
    width: auto;
  }
}

@media screen and (min-width: 600px) {
  form [type="submit"] {
    padding-left: 2.7em;
    padding-right: 2.7em;
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  img.stlogo {
    display: block;
    margin-bottom: 5px;
  }

  span.timespan {
    padding-left: 10px;
  }

  .topbar #google_translate_element {
    float: none;
  }
}
