/* #################################
ADD OVERRIDING STYES HERE
################################# */

.accordion {
    border: 2px solid var(--color-gray);
    border-radius: 5px;
    color: var(--color-primary) ;
    padding-bottom: 1.5rem;
}
.accordion.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.panel {
    border: 2px solid var(--color-gray);
    padding: .5rem 2rem;
}
.panel {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bo {
    padding: 1rem;
    border-radius: .5rem;
    max-width: 900px;
}

.tl h4 {
    margin-top: 2rem;
    margin-bottom: 0rem;
}

ul.mt-0 li {
    margin-bottom: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }

.survey-wrap {
    border: 2px solid var(--color-gray);
    border-radius: 8px;
}
.sg-title {
    display: none;
}
.sg-question-title {
    font-weight: 700;
}

.sg-group-item {
    padding-bottom: 0px !important;
}
.btn.btn-submit,
#sg_SubmitButton,
.btn.btn-secondary {
    background-color: var(--color-orange);
    font-weight: 700;
    color: white;
    border: 2px solid var(--color-orange);
    border-radius: 5px;
    font-size: 1.7rem;
  
}
.btn.btn-submit:hover,
#sg_SubmitButton:hover,
.btn.btn-secondary:hover {
    background-color: transparent;
    color: var(--color-orange);
    border: 2px solid var(--color-orange);

}

